# Domain Certificate request

[ req ]
default_bits            = 2048                  # RSA key size
encrypt_key             = no                    # Protect private key with DES (same as -nodes option)
default_md              = sha256                # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Prompt for DN
distinguished_name      = dn_template		# Template and defaults for distinguished name

[ dn_template ]
C			= "Country"
C_default 		= "AR"
ST			= "State"
ST_default 		= "Northern Pole"
L			= "City"
L_default 		= "Arakeen"
OrganizationName		= "Organization Name"
OrganizationName_default 	= "The Guild"
OrganizationalUnitName		= "Organizational Unit Name"
OrganizationalUnitName_default 	= "Guild CA Issuer Section"
emailAddress		= "Email Address"
emailAddress_default 	= "navigator@guild.empire"
CN			= "Common Name (Domain)"
CN_default 		= "email"
# ...						# You can add any other fields you'd like here
# fieldName = "Prompt"
# fieldName_default = "defaultValue"
# fieldName_min = 2
# fieldName_max = 4
